h3{
    text-align: center;
    color: #656AD4;
    text-decoration: underline;
}
.main{
    background-color: #656AD4;
    width: 610px;
    border: 1px solid black;

}
.form{
    color: 	#F0F8FF;
    font-size: 11px;
    text-align: left;
    margin-left: 10px;
    padding-top: 10px;
    
}
input:focus{
    color: white;
    background-color:#2B547E;
}
textarea:focus{
    color: white;
    background-color: #2B547E;
}
.firstname{
    margin-left: 45px;
    padding-left: 5px;
}
.lastname{
    margin-left: 48px;
    padding-left: 5px;
}
.dateofbirth{
    margin-left: 30px;
    padding-left: 5px;
}
.email{
    margin-left: 61px;
    padding-left: 5px;
}
.number{
    margin-left: 17px;
    padding-left: 5px;
}
.gender{
    margin-left: 60px;
}
.address{
    margin-left: 56px;
    padding-left: 5px;
}
.city{
    margin-left: 80px;
    padding-left: 5px;
}
.pin-code{
    margin-left: 55px;
    padding-left: 5px;
}
.state{
    margin-left: 73px;
    padding-left: 5px;
}
.country{
    margin-left: 53px;
    padding-left: 5px;
}
.hobbies{
    margin-left: 60px;
}
.hobby{
    margin-left: 109px;
}
.courses{
    margin-left: 35px ;
}
div.button{
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.empty{
    float: right;
    
}
.empty1{
    float: right;
}
.done{
    border-radius: 5px;
    border: 1px solid white ;
    margin-right: 4px; 
}